body {
  background-color: #cc99ff;
  font-family: Arial;
  margin-top: 20px;
  color: white;
}

#header{
  background:rgba(0,0,0,.5);
  border: 5px black solid;
  border-radius: 50px;
}

img {
  width: 150px;
  border-radius: 50%;
}

.col-md-4 {
  padding: 5px;
}

.row {
  background:rgba(0,0,0,.5);
  border: 5px black solid;
  margin: 10px;
}